<nav class="navbar navbar-dark navbar-expand-lg bg-dark fixed-top navbar-custom">
    <div class="container"><a class="navbar-brand" href="/"><img style="height:40px"
                src="https://www.shareicon.net/data/128x128/2017/05/30/886539_media_512x512.png"
                class="img-fluid"></a><button data-toggle="collapse" class="navbar-toggler"
            data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/users">User</a></li>
              
                <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
            </ul>
        </div>
    </div>
</nav>